.App-settings-row {
  margin-bottom: 0.8rem;
  font-size: var(--font-size-body-medium);
}

.App-settings .App-cta {
  margin-top: 1.5rem;
}

.App-settings {
  .Modal-content {
    width: 40rem;
  }
}

.App-slippage-tolerance-input-container {
  position: relative;
}

.Settings-Tenderly-Input,
.App-slippage-tolerance-input {
  border-radius: var(--border-radius-sm);
  border: 2px solid var(--border-color);
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  width: 100%;
  transition: 0.1s cubic-bezier(0.25,0.46,0.45,0.94);

  &:hover {
    border-color: var(--border-color-lighter);
  }
  &:focus {
    border-color: var(--border-color-lightest);
  }

  &.with-minus {
    padding-left: 2.5rem;
  }
}

.App-slippage-tolerance-input-minus {
  position: absolute;
  left: 1.1rem;
  top: 2.325rem;
}

.App-slippage-tolerance-input-percent {
  position: absolute;
  right: 1.1rem;
  width: 3.1rem;
  top: 2.325rem;
  bottom: 0;
  text-align: right;
}

.settings-modal-error {
  padding-bottom: 0.7rem;
}

.Settings-Tenderly-Title {
  padding-bottom: .4rem;
  margin-bottom: 0;
  border-bottom: var(--border-width, 1px) solid var(--border-color);
}
