.menu-items:focus-visible {
  border: 1px solid #262638;
}

.address-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  // color: white !important;
  // background: red;
}

.user-address {
  margin-left: 1rem;
  margin-right: 1rem;
}

.menu-items {
  position: absolute;
  right: 0;
  top: 4.3rem;
  min-width: 17rem;
  width: 100%;
  transform-origin: top right;
  overflow: hidden;
  background: var(--main-bg-color);
  border: 1px solid var(--color-gray-800);
  list-style: none;
  cursor: pointer;
  outline: none;
  z-index: 1000;

  .menu-item {
    display: flex !important;
    align-items: center;
    // color: var(--color-slate-100);
    color: var(--main-text-color);
    font-size: var(--font-size-body-medium);
    padding: 0.85rem 0.8rem;

    &:hover {
      background-color: var(--border-color);
    }

    >p {
      margin: 0px;
      padding-left: 1rem;
      white-space: nowrap;
    }

    >a {
      display: inline-flex;
    }
  }
}

@media screen and (max-width: 370px) {
  .user-address {
    margin-left: 0;
  }

  .address-btn {
    display: flex;
    justify-content: space-between;
  }

  .user-avatar {
    display: none;
  }
}
