.Tab.Tab__block {
  display: grid;
  grid-auto-flow: column;
  font-size: var(--font-size-body-medium);
  border-radius: 3px;
  overflow: hidden;
  color: var(--color-gray-300);
  background: linear-gradient(
    90deg,
    var(--color-cold-blue-900) 0%,
    color-mix(in srgb, var(--color-slate-500) 40%, transparent) 100%
  );
  box-shadow: inset 0px 0px 30px 5px rgba(255, 255, 255, 0.01);
}

.Tab-option-icon {
  margin-right: 0.465rem;
  opacity: 0.7;
}

.Tab.Tab__block .Tab-option {
  text-align: center;
  padding: 0.8rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.Tab.Tab__block .Tab-option:not(.disabled):not(.active):hover {
  color: var(--color-white);
  /* background: var(--color-cold-blue-700); */
}

.Tab.Tab__block .Tab-option.active {
  opacity: 1;
  pointer-events: none;
  background: var(--primary-btn-bg);
  color: var(--color-white);
}

.Tab.Tab__block .Tab-option.active .Tab-option-icon {
  opacity: 1;
}

.Tab.Tab__inline {
  overflow-y: visible;
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  color: var(--main-text-color);
  display: flex;
  gap: 0.5em;
  align-items: center;
  padding-block: 2px;
}

.Tab.Tab__inline::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.Tab.Tab__inline .Tab-option {
  display: inline-block;
  padding-inline: 12px;
  padding-block: 6px;
  border: 1px solid transparent;
  border-radius: var(--border-radius-sm);
  color: var(--secondary-text-color);
  font-weight: 500;
  transition: 0.1s ease-in-out;
}


.Tab.Tab__inline .Tab-option:not(.disabled):not(.active):hover {
  color: var(--main-text-color)
}

.Tab.Tab__inline .Tab-option.active {
  pointer-events: none;
  /*border: 1px solid var(--main-text-color);*/
  background-color: var(--bg-color-level-3);
  color: var(--main-text-color);
  box-shadow: 2px 2px 0 0 var(--shadow-color);
}

.Tab-option {
  cursor: pointer;
}

.Tab-option.disabled {
  cursor: not-allowed;
}
