footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--footer-height);
  z-index: 1000;
  padding-block: 4rem;
  padding-inline: 32px;
  background-color: var(--bg-color-level-1);
  width: 100vw;
  border-top: 1px solid var(--border-color);
  margin-block-start: 24px;
}

.Footer-wrapper {
  max-width: var(--app-max-width);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Footer-logo-wrapper {
  display: grid;
  gap: 16px;
}

.Footer-logo img {
  height: 5.65rem;
}

.Footer-social-link-block {
  display: grid;
  gap: .5rem;
  justify-items: end;
}
.Footer-link {
  display: none;
  color: var(--color-slate-100);
  font-size: var(--font-size-body-small);
  line-height: var(--line-height-body-small);
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
}
.Footer-link:hover {
  color: var(--color-white);
}


.Footer-copyright {
  padding: 1.6rem;
}

.Footer-copyright__text {
  font-family: Circular Std;
  font-size: 1.3rem;
  line-height: 1.3rem;
  letter-spacing: -0.41px;
  color: var(--color-slate-100);
  display: block;
}
.Footer-links {
  display: flex;
  justify-content: center;
}
.Footer-links > a:not(:last-child),
.Footer-links > .a:not(:last-child) {
  padding-right: 2rem;
}

@media (max-width: 900px) {
  .Footer-social-link-block .App-social-link {
    margin: 0 1.6rem;
  }
}

@media (max-width: 580px) {
  .Footer-links {
    flex-direction: column;
    display: none;
  }
  .Footer-links > a {
    padding-right: 0;
    margin-bottom: 0.5rem;
    display: block;
  }
  .Footer-social-link-block {
    margin-bottom: 1.4rem;
  }
  .Footer-wrapper {
    padding-top: 2.5rem;
  }
  .home {
    height: 23rem;
  }
  .Footer-links > a:not(:last-child),
  .Footer-links > .a:not(:last-child) {
    padding-right: 0;
  }
  .Footer-social-link-block .App-social-link {
    margin: 0 0.8rem;
  }
}

.social-link {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: var(--border-radius-md);
  padding: 6px 8px;

  &:hover {
    background-color: var(--bg-color-level-3);
  }

  .social-link-name {
    font-size: 14px;
    text-decoration: none;
  }
}
