.card {
  background: var(--bg-color-level-2);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-sm);
}

.card-header {
  font-size: var(--font-size-body-large);
  line-height: var(--line-height-body-large);
  font-weight: normal;
  letter-spacing: 0px;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-divider {
  height: 1px;
  background: var(--border-color);
}
.card-body {
  padding: 1.5rem;
}
