.ReferralsTier-form {
  max-width: 450px;
}

.ReferralsTier-row {
  margin-top: 20px;
}

.ReferralsTier-input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border: 1px solid var(--border-color);
  transition: border-color .1s cubic-bezier(0.25,0.46,0.45,0.94);
  border-radius: var(--border-radius-sm);
  &:hover {
    border: 1px solid var(--border-color-lighter);
  }
  &:focus {
    border: 1px solid var(--border-color-lightest);
  }
}

.ReferralsTier-label {
  display: block;
  margin-bottom: 5px;
}
