.NftWallet .page-container {
  min-width: min(100vw, 600px);
}
.NftWallet input {
  border: 1px solid var(--border-color);
  font-size: var(--font-size-body-medium);
  width: 100%;
  box-sizing: border-box;
  transition: border-color .1s cubic-bezier(0.25,0.46,0.45,0.94);
  border-radius: var(--border-radius-sm);
  &:hover {
    border: 1px solid var(--border-color-lighter);
  }
  &:focus {
    border: 1px solid var(--border-color-lightest);
  }
}

.NftWallet label {
  display: block;
  margin-bottom: 0.8rem;
}

.NftWallet-content {
  padding-top: 1.5rem;
}

.NftWallet-row {
  margin-bottom: 1.5rem;
}

.NftWallet button {
  margin-top: 0.8rem;
}
